<!DOCTYPE html>

<html>
    <head>
        <!-- head of the page -->
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Registration</title>
    </head>

    <body>
        <h1>Registration</h1>

        <p>It is necessary to registered yourself to have access to the <strong>TODO list</strong> or the <strong>chat</strong>.</p>
 
        <form action="/login/add" method="post">
            <input id="userID" type="text" name="userName" value="Your Username" />
            <input type="submit" value="Submit !" />
        </form>
        </br>
        </br>
        <p><a href="/">home</a> OR <a href="/logout">logout</a></p>

        <script src="js/registration.js" type="text/javascript"></script>

    </body>
</html>