<!DOCTYPE html>

<html>
    <head>
    	<!-- head of the page -->
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Welcome</title>
    </head>

    <body>
        <h1>Welcome on my Air Local server</h1>

        <p>Note: To have access to the two links below, please <a href="/login">identify</a> yourself.</br>Enjoy your time here :-)</p>

        <p>To use <strong>the TODO list</strong> click <a href="/todo">here</a></p>

        <p>To use <strong>the chat</strong> click <a href="/chat">here</a></p>

        <a href="/logout">logout</a>

    </body>
</html>